body{
    margin: 0;
    padding: 0;
    font-family: "assistant";
    background: rgb(24, 71, 201);
    display: grid;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 42px;
    color: white;
    border: 10px;
    border-color: red;
    animation-name: h1;
    animation-duration: 3s;
    animation-fill-mode:forwards;
}

input[type="checkbox"]{
    position: relative;
    width: 300px;
    height: 120px;
    background: rgb(255, 29, 29);

    -webkit-appearance: none;
    border-radius: 60px;
    outline: none;
    transition: 0.4s        ;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    stroke: black;


}




@keyframes h1 {
    from {
      opacity: 0%;
    }
  
    to {
      transform: rotate(0deg);
    }
}

input:checked[type="checkbox"]{
    background: rgb(255, 29, 29);

}

input[type="checkbox"]::before{
    z-index: 2;
    position: absolute;
    content: "";
    
    left: 180px;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1,1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;


}

label {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    pointer-events: none;
  }
  
  

input:checked[type="checkbox"]::before {
    left:0px;
}

.toggle {
    position: relative;
    display: inline;  

}

label{
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 54px;
    pointer-events: none;
}

.onbtn{
    bottom: 35px;
    left: 20px;
}


.ofbtn{
    bottom: 35px;
    right: 20px;
    color: rgb(0, 0, 0);
    opacity: 0%;
    transition-delay: 0.3s;
    
}
input:checked ~ .ofbtn{
    color: rgb(0, 0, 0);
    opacity: 100%;
    transition-delay: 0s;

}
h1 ::before, ::after {
    color: red;
    background-color: white;
    transition: 0.5s;
    
}

input[type="checkbox"]::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0px;
    transition: 0.4s;
    border-radius: 80px;

    background: rgb(19, 247, 95);


}

input:checked[type="checkbox"]::after{
    width: 300px;


}


h1 span{
    background-color: black;
    animation-name: back;
    animation-duration: 3s;
    animation-fill-mode:forwards;
}

@media (orientation: portrait) {
    h1 span{
        background-color: rgb(255, 0, 0);
        animation-name: none;
    }
    h1{
        animation-name: none;
    }
    
}